

#combat-tab{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;

    width: 100vw;
    height: 85vh;
}

#explainer-text-combat h3{
    margin-bottom: 0;
    font-size: 1vw;
}

#explainer-text-combat h4{
    margin: 0;
    font-size: 0.75vw;
}

.unlockedEggStage{
    background: rgb(212, 192, 78) !important;
}

#combat-explainer-text{
    font-size: 1vw;
    width: 20vw !important;
}


#exit-extra-effects-container-button{
    width: 5vw;
    height: 5vh;

    background: rgb(187, 49, 49);
    border-radius: 5px;
    border: solid rgb(153, 18, 18) 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 60vh;
    left: 63vw;
}

#extra-effects-container{
    width: 70vw;
    height: 70vh;
    position: absolute;

    background: rgb(165, 100, 100);
    border: solid black 1px;
    border-radius: 5px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.hideTab{
    display: none !important;
}

#enemy-display,
#enemy-combat-stats-container,
#personal-combat-stats-container,
#enemy-selecter{
    border-radius: 5px;
    border: solid black 2px;
}


#personal-combat-stats-container{
    width: 25vw;
    height: 80vh;
    
    background: #997e5a;;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


#enemy-combat-stats-container{
    width: 25vw;
    height: 80vh;

    background: #997e5a;;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#enemy-display{
    width: 45vw;
    height: 38vh;

    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('https://cdn.wallpapersafari.com/30/6/a4mrs3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}


#extraEffectsButton{
    background: rgb(102, 59, 59);
    border-radius: 5px;
    width: 20vw;
    height: 10vh;
    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#fight-display-left{
   display: flex;
   width: 45vw;
   margin-left: 20vw !important;
   margin-bottom: 0vh;
}

#fight-display-right{
    width: 45vw;
    display: flex;
    margin-left: 60vw !important;
    margin-bottom: 4vh;
}



#fight-display-right img,
#fight-display-left img{
    width: 10vw;
    height: 15vh;
}



#enemy-selecter{
    width: 45vw;
    height: 38vh;
  
    background: rgb(86, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

#enemy-display-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

#enemy-container{
    width: 40vw;
    height: 20vh;
    background: rgb(74, 79, 109);
}


.playerRedHealth{
    height: 5vh;
    background: rgb(187, 79, 79);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-right: solid black 1px;
}

.playerGreenHealth{
    height: 5vh;
    background: rgb(90, 186, 90);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

.playerHeathbar{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.speedBarFullPortion{
    height: 5vh;
    background: rgb(61, 92, 143);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

.speedBarUnfullPortion{
    height: 5vh;
    background: rgb(39, 26, 119);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border-bottom: solid black 1px;
    border-top: solid black 1px;
    border-right: solid black 1px;
}

.attackSpeedBar{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

@keyframes moveTopRight {
    to {
      transform: translate(25px, -25px); 
    }
  }


.move-player-attack-animation{
    animation: moveTopRight 1.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes moveBottomLeft {
    to {
      transform: translate(-25px, 25px); 
    }
  }


.move-enemy-attack-animation{
    animation: moveBottomLeft 1.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#world-selector-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#world-selector-buttons h3{
    background: #ccd5ae;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#world-selector-buttons h4{
    background: #e9edc9;
    width: 5vw;
    height: 8vh;
    border-radius: 5px;
    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#world-selector{
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

#world-selector h5{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fefae0;
    width: 5vw;
    height: 5vw;

    font-size: 1vw;
    border: solid black 1px;
    border-radius: 5px;
}

#combat-tab h2{
    font-size: 1.5vw;
}

#combat-tab h3{
    font-size: 1.25vw;
}

#combat-tab h4{
    font-size: 0.75vw;
}

#combat-tab h5{
    font-size: 1vw;
}