
#hatching-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    flex-direction: column;
}

.autobuyer-display h3{
    padding: 0;
    margin: 0;
    font-size: 1.25vw;
}

.cat-found{
    background: rgba(168, 227, 164, 0.256);
    border-radius: 5px;
}

.notFound{
    filter: brightness(20%);
    background: rgb(200, 137, 137);
    border-radius: 5px;
}

#eggs-display{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#egg-display-rotator-buttons{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}

#egg-display-rotator-buttons h3{
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;

    background: rgb(158, 209, 161);
    border: solid black 1px;
    border-radius: 5px;
}


.egg-container{
    width: 20vw;
    height: 65vh;

    border: solid black 2px;
    background: rgb(160, 114, 74);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    margin-left: 5vw;
    margin-right: 5vw;
}

.egg-container h1{
    font-size: 1.5vw;
}

.egg-container h2{
    background: rgb(93, 158, 99);
    width: 15vw;
    border-radius: 5px;
    border: solid black 1px;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.25vw;
}

.egg-container img{
    width: 15vw;
    height: 15vw;
}

.egg-outcome-showoff{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    width: 15vw;
    background: rgb(172, 148, 117);

    border-radius: 5px;
  
}

.egg-outcome-showoff img{
    width: 2vw;
    height: 2vw;
    margin: 0px;
    padding: 0px;
}

.egg-outcome-showoff h6{

    margin: 0px;
    padding: 0px;
    font-size: 1vw;
}


.egg-outcome-showoff-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 8vh;
}

.egg-container-left{
    width: 20vw;
    height: 50vh;

    border: solid black 2px;
    background: rgb(160, 114, 74);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    opacity: 0.7;
}

.egg-container-left h1{
    font-size: 1.25vw;
}

.egg-container-left h2{
    background: rgb(93, 158, 99);
    width: 15vw;
    border-radius: 5px;
    border: solid black 1px;
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.25vw;
}

.egg-container h2:hover{
    background: rgb(65, 148, 65) !important;
}

#egg-container-display-image{
    width: 10vw !important;
    height: 10vw !important;
}


.egg-container-right{
    width: 20vw;
    height: 50vh;

    border: solid black 2px;
    background: rgb(160, 114, 74);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    opacity: 0.7;
}

.egg-container-right h1{
    font-size: 1.25vw;
}

.egg-container-right h2{
    background: rgb(93, 158, 99);
    width: 15vw;
    border-radius: 5px;
    border: solid black 1px;
    height: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.25vw;
}

.egg-container-display-image{
    width: 10vw !important;
    height: 10vw !important;
}


@keyframes sparkle {
0% {
    transform: scale(1);
    opacity: 0.5;
    }
    50% {
    transform:  scale(25);
    opacity: 0.4;
    background-color: orange; /* Change color as needed */
    }
    75% {
    transform: scale(15);
    opacity: 0;
    background-color: red; /* Change color as needed */
    }
    100%{
    transform: scale(10);
    opacity: 0;
    }
}

.burst .sparkle {
width: 8px;
height: 8px;
background-color: red; /* Sparkle color (change as needed) */
position: absolute;
border-radius: 50%;
animation: sparkle 2s ease-out forwards;

}

.sparkle-container{
position: absolute;
top: 40vh;
}

@keyframes image-appear{
    0%{ 
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.sparkle-container img{
    position: absolute;
    top: -3vw;
    left: -2vw;
    width: 5vw;
    height: 5vw;
    animation: image-appear 2s ease-out forwards;
}


@keyframes slide-left-middle {
    from {
        transform: translateX(0) scaleX(1) scaleY(1); /* Start from the current position (initially on the right) */
        opacity: 1;
      }
      to {
        transform: translateX(-25vw) scaleY(0.8) scaleX(1.05); /* Move 30vw to the left */
        opacity: 0.6;
      }
  }


.middle-rotate-left-animation{
    animation: slide-left-middle 0.5s linear;
}

@keyframes slide-left {
    from {
        transform: translateX(0) scaleX(1) scaleY(1); /* Start from the current position (initially on the right) */
        opacity: 0.6;
      }
      to {
        transform: translateX(-28vw) scaleX(1) scaleY(1.3); /* Move 30vw to the left */
        opacity: 1;
      }
  }


.right-rotate-left-animation{
    animation: slide-left 0.5s linear;
}



@keyframes slide-right-middle {
    from {
        transform: translateX(0) scaleX(1) scaleY(1); /* Start from the current position (initially on the right) */
        opacity: 1;
      }
      to {
        transform: translateX(25vw) scaleY(0.75) scaleX(1.05); /* Move 30vw to the left */
        opacity: 0.6;

      }
  }


.middle-rotate-right-animation{
    animation: slide-right-middle 0.5s linear;
}

@keyframes slide-right {
    from {
        transform: translateX(0) scaleX(1) scaleY(1); /* Start from the current position (initially on the right) */
        opacity: 0.6;
      }
      to {
        transform: translateX(30vw) scaleX(0.9) scaleY(1.2); /* Move 30vw to the left */
        opacity: 1;
      }
  }


.left-rotate-right-animation{
    animation: slide-right 0.5s linear;
}


#eggs-display h3{
    font-size: 1vw;
}