
.upgrades-row{
    display: flex;
    width: 80vw;
    justify-content: space-evenly
}

.buyableUpgrade{
    background: rgb(101, 175, 101) !important;
}

.upgradeBought{
    background: rgb(83, 90, 150) !important;
}

#upgrades-container{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}

#pressure-tab-almanac{
    width: 20vw;
    height: 5vh;
    background: lightblue;
    border: solid black 1px;
    border-radius: 5px;

    font-size: 1.3vw;

}
.hideTab{
    display: none;
}

#almanac-top-bar h3{
    font-size: 1vw;
}

#almanac-hide-button{
    position: relative;
    left: 10vw;
    top: -1vh;

    width: 5vw;
    height: 5vh;
    background: rgb(184, 92, 92);
    border: solid red 1px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25vw;
    
}

#cats-found-display{
    font-size: 1.25vw;
}

#pressure-tab-title{
    font-size: 1.25vw;
    margin-top: 0;
    margin-bottom: 0;
}

#almanac-container{
    padding-top: 3vh;
    width: 60vw;
    height: 60vh;
    background: rgb(126, 102, 72);
    border: solid black 1px;
    border-radius: 5px;

    position: absolute;
    top: 20%;
    left: 20%;
    overflow-y: scroll;
}

#pressure-tab-container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
}

.almanac-cat{
    width: 5vw;
    height: 5vw;

    padding: 0.5vw;
    background:rgb(153, 126, 94);
    border-radius: 5px;
    border: solid rgb(24, 23, 10) 2px;
}

.lifetime-found-cat{
    filter: brightness(50%) !important;
}

.not-found-cat{
    filter: grayscale(1) brightness(20%);
}

#almanac-top-bar{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

#almanac-container-top-bar{
    display: flex;
    justify-content: left;
}

#almanac-container-top-bar h4{
    font-size: 0.65vw;
    margin-left: 5vw;
}

.upgrade{
    width: 20vw;
    height: 20vh;
    background: lightcoral;
    border-radius: 5px;
    border: solid black 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.upgrade h2{
    font-size: 1vw;
    margin-bottom: 0;
}

.upgrade h3{
    font-size: 0.75vw;
    display: flex;
    width: 15vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vh;
    margin-bottom: 0;

}

.upgrade h4{
    font-size: 0.75vw;
    margin-top: 0;
    margin-bottom: 0;

}

#upgrades-container{
    display: flex;

  
    padding-left: 10vw;
    padding-right: 10vw;
    height: 65vh;

}

#pressure-tab-explainer-div h3{
    font-size: 1vw;
}