
.hiddenTab{
    display: none !important;
}

#end-game-display{
    position: absolute;
    width: 70vw;
    height: 90vh;
    background: rgb(128, 61, 61);
    border: solid 5px black;
    border-radius: 25px;
    left: 15vw;
    top: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#cats img{
    width: 8vw;
    height: 8vw;
}

#cats{
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

#end-game-display h1{
    font-size: 2vw;
}

#end-game-display h3{
    font-size: 1.25vw;
}

#end-game-display h5{
    font-size: 0.75vw;
}


#continue-button-end-game{
    font-size: 1.5vw;
    background: rgb(194, 132, 132);
    width: 30vw;
    height: 15vh;
    border-radius: 5px;
    border: solid black 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-selector-buttons:hover{
    background: #702f24;
}

.tab-selector-buttons{
    width: 15vw;
    height: 5vh;
    font-size: 1.5vw;
    
    border: solid black 1px;
    background: #883b2d;
    border-radius: 5px;


    display: flex;
    justify-content: center;
    align-items: center;

}

#tab-button-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100vw;

    flex: 500000px;
}

#site-header{

    padding-top: 2vh;
    width: 100vw;
    height: 10.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly;

    background-image: url('https://t3.ftcdn.net/jpg/00/92/04/76/360_F_92047636_nhegn2YDTrbA99zBp8GxmnjQvLqQmVbP.jpg');
    /* background: #333358; */
    border-bottom: solid black 2px;

}

#resource-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 100px;
    color: grey;

    font-size: 0.8vw;

}

#site-content{
    width: 100vw;
    height: 85vh;
}

#resource-display h3{
    background: rgb(88, 53, 44);
    width: 20vw;
    height: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 5px;
}